html {
  background-color: #f4f4f4;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/* utilities */
.hidden {
  display: none;
}

/* containers */

.container-main {
  width: 100%;
  height: 100vh;
}

.container-login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-dashboard {
  display: flex;
  align-items: stretch;
}

/* forms */

/* dashboard */
.welcome-msg {
  background-color: #353535;
  color: #fff;
  text-align: right;
  padding: 1rem;
}

.welcome-msg > a {
  color: #fff;
  display: block;
}

.navigation-main {
  background-color: #00cc88;
  display: flex;
  width: 100%;
  list-style-type: none;
  padding: 2rem 0;
  margin: 0;
}

.navigation-main-item {
  margin-left: 1rem;
  display: block;
  text-transform: uppercase;
}

.navigation-main-item > a {
  color: #383838;
}

.dashboard-block {
  padding: 2rem 1rem;
}
.container-dashboard h3 {
  display: block;
}

.dashboard-block-user {
  flex-basis: 25%;
  background-color: #353535;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.dashboard-block-user > a {
  color: inherit;
}

.dashboard-profile-img {
  width: 6rem;
  height: auto;
  margin: 2rem auto 2rem;
  border-radius: 50%;
}

.dashboard-block-events {
  display: flex;
  flex-direction: column;
}

.dashboard-link {
  margin: 1rem 0;
  border-bottom: 1px solid #fff;
  text-align: center;
}

.page-title {
  width: 100%;
  display: block;
}

.dashboard-events {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.dashboard-events-event {
  padding: 0.5rem;
  background-color: #fff;
  margin: 0.5rem;
  border-radius: 3px;
}

.dashboard-events-event > a {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #383838;
}

.dashboard-event-logo {
  width: 2rem;
  height: auto;
  display: block;
  margin: 0 auto 0.5rem;
}

.events-list-logo {
  width: 4rem;
  height: auto;
  display: line;
  margin: 0 auto 0.5rem;
}

/* pagination */
.pagination {
  margin: 40px 0;
  font-weight: bold;
}

.register-form{
    width: 75%;
    margin: 0 auto;

}

.input-group.date{
    width: 50%;}

.register-form label {
    width: 15%;
}

.create-event-form{
    width: 75%;
    margin: 0 auto;
}

.create-event-form label{
    width: 15%;
}
